.container {
  padding: 3rem;
}

button {
  border: 1px solid black;
  margin: 1px;
  border-radius: 10%;
}

.box {
  height: 10px;
  display: block;
  background-color: red;
}

.message-error {
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear 0.5s;
}

.message-error.show {
  opacity: 1;
}
